<div class="container-fluid bg-white">
    <div class="container-xxl px-0">
        <div class="row mx-auto d-flex flex-column flex-lg-row align-items-start justify-content-lg-between align-items-lg-center gap-8 gy-lg-0 py-40 py-lg-52">
            <div class="col-3 px-0">
                <h2 class="fs-32 fst-italic lh-base">ALPHABOX+</h2>
                <p class="font-noto-sans fw-bold d-none d-lg-block">Copyright © 2023 Hexschool.</p>
            </div>

            <div class="col-1 mx-lg-auto">
                <svg width="58" height="60" viewBox="0 0 58 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.1666 60V40.1667L5.99996 50.0833L0.166626 40L17.3333 30L0.166626 20.0833L5.99996 10L23.1666 19.9167V0H34.8333V19.9167L52 10L57.8333 20.0833L40.6666 30L57.8333 40L52 50.0833L34.8333 40.1667V60H23.1666Z" fill="black"/>
                </svg>
                    
            </div>

            <div class="col-12 col-lg-4">
                <ul class="d-flex flex-column flex-lg-row justify-content-between ps-0 mb-0">
                    <li><a class="text-dark fw-bold" href="about.html">關於我們</a></li>
                    <li><a class="text-dark fw-bold" href="#">產品資訊</a></li>
                    <li><a class="text-dark fw-bold" href="#">常見問題</a></li>
                    <li><a class="text-dark fw-bold" href="#">隱私政策</a></li>
                    <li><a class="text-dark fw-bold font-noto-sans d-block d-lg-none" href="#">Copyright © 2023 Hexschool</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>