<div class="container-fluid bg-primary-300 border-bottom border-1 border-white ">
    <div class="container-xxl mx-auto ">
        <div class="row d-flex justify-content-between align-items-center ">
            <!-- logo -->
            <div class="col-2 px-0">
                <a href="#" class="navbar-brand fs-32 font-shrikhand font-italic text-white">ALPHABOX++</a>
            </div>

            <!-- navbar -->
            <div class="col-lg-4 px-0 d-none d-lg-block">
                <ul class="nav text-white d-flex g-lg-40 justify-content-between">
                    <li class="nav-link">
                        <a class="nav-link" href="#">產品</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">關於我們</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">最新消息</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">聯絡我們</a>
                    </li>
                </ul>
            </div>

            <!-- login hamburger button-->
            <div class="col-3 ">
                <ul class="nav text-white align-items-center justify-content-between g-lg-24 ">
                    <li class="nav-link d-none d-lg-block">
                        <a class="nav-link" href="#">註冊</a>
                    </li>
                    <li class="nav-item d-none d-lg-block">
                        <a class="nav-link" href="#">登入</a>
                    </li>
                    <li class="nav-item d-none d-lg-block">
                        <div class="btn border border-white rounded bg-white d-flex align-items-center  py-8">
                            <a class="me-4" href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <mask id="mask0_3826_65" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                        y="0" width="24" height="24">
                                        <rect width="24" height="24" fill="#D9D9D9" />
                                    </mask>
                                    <g mask="url(#mask0_3826_65)">
                                        <path
                                            d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z"
                                            fill="black" />
                                    </g>
                                </svg>
                            </a>
                            <a class="nav-link text-dark " href="#">訂閱</a>
                        </div>
                    </li>

                    <!-- hamburger button -->
                    <li class="d-block d-lg-none ms-auto px-0">
                        <button data-bs-toggle="collapse" data-bs-target="#hamburger-content" aria-controls="bdNavbar" aria-expanded="false"
                        aria-label="Toggle navigation"
                        class="bg-primary-300 border-0">
                            <a href="#">
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <mask id="mask0_444_2398" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                        y="0" width="44" height="44">
                                        <rect width="44" height="44" fill="#D9D9D9" />
                                    </mask>
                                    <g mask="url(#mask0_444_2398)">
                                        <path
                                            d="M5.5 33V29.3333H38.5V33H5.5ZM5.5 23.8333V20.1667H38.5V23.8333H5.5ZM5.5 14.6667V11H38.5V14.6667H5.5Z"
                                            fill="white" />
                                    </g>
                                </svg>
                            </a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- hamburger content -->
<div class="container-fluid  bg-primary-300 gradient-y d-lg-none collapse" id="hamburger-content">
    <div class="container-xxl">
        <div class="row ">
            <div class="col-4 col-md-8 col-lg-12 mx-auto">
                <ul class="nav text-white d-flex flex-column align-items-center justify-content-center gap-16 ">
                    <li class="nav-link">
                        <a class="nav-link" href="#">產品</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">關於我們</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">最新消息</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">聯絡我們</a>
                    </li>
                    <li class="nav-link ">
                        <a class="nav-link" href="#">註冊</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">登入</a>
                    </li>
                    <li class="nav-item mb-32">
                        <div class="btn border border-white rounded bg-white d-flex align-items-center  py-8">
                            <a class="me-4" href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <mask id="mask0_3826_65" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                        y="0" width="24" height="24">
                                        <rect width="24" height="24" fill="#D9D9D9" />
                                    </mask>
                                    <g mask="url(#mask0_3826_65)">
                                        <path
                                            d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z"
                                            fill="black" />
                                    </g>
                                </svg>
                            </a>
                            <a class="nav-link text-dark " href="#">訂閱</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
