@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Saira+Extra+Condensed:wght@300&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.font-noto-sans {
	font-family: "Noto Sans TC", sans-serif !important;
}

.font-shrikhand {
	font-family: "Shrikhand", cursive !important;
}

.font-saira {
	font-family: "Saira Extra Condensed", sans-serif !important;
}
