.index-bg{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/home_background.png?raw=true);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  height: 880px; 
  @include pc{
    height: auto;
  }
}

.circle_png{
  width: 196px;
  height: 196px;
}

.banner-side{
  max-width: 100%;
  object-fit: cover;

}



.banner-center{
  max-width: 96%;
  object-fit: cover;

}

.banner-name{
  position: absolute;
  // transform: translate(50%, -700%)
  top: 0;


}

.brand-name{
  letter-spacing: 3.5rem;
}

.test{
  letter-spacing: inherit;
}


// page-2
.page-2{
  background-image:  url("../images/carousel_background.png");
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

}

.purple-bar{
  height: 40px;
  @include gradient-x(rgba(112, 0, 255, 1), rgba(17, 0, 45, 1));
}




