.index-bg{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/home_background.png?raw=true);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  height: 880px; 
}

.circle_png{
  width: 196px;
  height: 196px;
}

.banner-side{
  max-width: 100%;
  object-fit: cover;

}

@include pad{
  .banner-side{
    height: 50%;
  }
}



.banner-center{
  max-width: 48%;
  object-fit: cover;

}

.banner-diane{
  position: absolute;
  // transform: translate(50%, -700%)
  top: 0;


}

.brand-name{
  letter-spacing: 3.5rem;
}


// page-2
.page-2{
  background-image:  url("./assets/images/carousel.png");
  height: 960px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.purple-bar{
  height: 40px;
  @include gradient-x(rgba(112, 0, 255, 1), rgba(17, 0, 45, 1));
}